body {
    font-family: 'Aqua', sans-serif;
}
.login {
    text-align: center;
}
.dateHomePage{
    background-color: #333333;
    font-size: 50px;
    color: white
}
.tableHeading{
    height: 100px;
    background-color: #333333;
    color: white;
}


.TheMessage {
    text-align: center;
    font-size: 50px;
}

input[type=submit] {
    padding: 5px 15px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}

tr{
    height: 100px;
    text-align:center
}

