body {
    font-family: 'Aqua', sans-serif;
}
.login {
    text-align: center;
}
.dateHomePage{
    background-color: #333333;
    font-size: 50px;
}
.tableHeading{
    height: 100px;
    background-color: #333333;
}


.TheMessage {
    text-align: center;
    font-size: 50px;
}

input[type=submit] {
    padding: 5px 15px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

td {
    border: 5px black;
    width: 25%;
    height: 100px;
    text-align: center;
    padding: 20px;
}

tr {
    border-bottom: 1pt solid black;
}
